:root {
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31D0AA;
    ---color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-grey: #2E2F42;
    --color-wite: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 120px 0;
}


button {
    font-family: inherit;
}

address {
    font-style: normal;
}

.conteiner {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*------HEADER------*/
.header {
    background-color: var(--color-wite);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-cornflower);

}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-web {
    margin-right: 76px;
}

.header-address-list {
    display: flex;
    align-items: center;
}



/*--------LOGO-------*/

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris)
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*-----NAV-----*/

.pages {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.pages:hover {
    color: #404BBF;
}

.pages:focus {
    color: #404BBF;
}

/*-----ADDERESS-----*/

address {
    font-style: normal;
}

.header-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(---color-slate);
    margin-right: 40px;
}

.header-item:hover,
.header-item:focus {
    color: #404BBF;
}

/*-------HERO--------*/


.hero {
    background-color: #2E2F42;
    display: flex;
    align-items: center;
    height: 600px;

}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 48px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 188px, 472px, 292px, 472px;
    min-width: 496px;


}

.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    padding: 16px, 32px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.hero-btn :hover,
.hero-btn :focus {
    color: #404BBF
}


/*---------ADVANTAGE-----*/

.advantage {
    padding-top: 120px;
    padding-bottom: 120px;
}


.advantage-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.advantage-title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantage-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    width: 264px;
}



/*------OUR WORK-----*/


.our-work-conteiner {
    display: block;
    align-items: center;
    padding-bottom: 120px;
}


.our-work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.our-work {
    display: flex;
    align-items: center;
    gap: 24px;
}

.our-work-item {
    display: flex;
    align-items: center;

}

/*----TEAM----*/

.team {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-cloud);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding-bottom: 72px;
}

.team-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    text-align: center;
}

.team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 152px;
}

/*------FOOTER--------*/

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px
}


.footer {
    display: flex;
    flex-direction: row;
    background-color: var(--color-grey);
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);

}

.footer-logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}

.footer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;

}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    background-color: var(--color-navy-blue);
    margin-top: 16px;

}



/*------PORTFOLIO----*/
/*-----FILTERS----*/

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 96px 0 120px;

}

.filters-conteiner {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: transparent;
    text-transform: none;
}

.filters-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background: #F4F4FD;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.filters-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 12px 24px 12px 24px;
}


.filters-item :hover {
    background: #404BBF;
    color: #FFFFFF
}

.filters-item :focus {
    background: #404BBF;
    color: #FFFFFF
}

/*-----PROJECT-----*/

.portfolio-item-section{
    padding-bottom: 120px;
}

.progect-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    margin-top: 72px;

}

.portfolio-item:is(:hover, :focus) .portfolio-item {
    max-width: calc((100% - 48px) / 3);
    height: 48px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    width: 360px;
    border-top: 0;
    border-right: 1px solid var(--color-cornflower);
    border-left: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
}



.title {
    font-family: "Roboto", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    width: 360px;
}